.slider-shadow{
    position: fixed;
    left: 0;
    top: 0;bottom: 0;right: 0;
    width: 100%;
    height: 100%;
    display: none;
    z-index: 9999;
    background-color: rgba(0, 0, 0, 0.7);
   
    &.show{
    display: block;
    }
}

.qq-slider{
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    width: 80%;
    height: 100%;
    transform: translateX(-100%);
    transition: transform 0.4s ease-out;
    background-color: #fff;
    &.show{
    transform: translateX(0);
    padding-left:10px; 
    z-index: 10000;
    }
    .slider-top{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin-top: 10px;
        border-bottom: 1px solid #ccc;
        .slider-top-item{
            display: flex;
            flex-direction: column;
            align-items: center;
            img{
                width: 35px;
                height: 39px;
                margin: 10px 0;
            }
            p{
                font-weight: 400;
                font-size: 14px;
                margin-bottom: 20px;
            }
        }

    }
    .slider-center{
        padding-bottom: 10px;
        border-bottom: 1px solid #ccc;
    }
    .slider-bottom{
        margin-top: 10px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        .left,.right{
            display: flex;
            flex-direction: row;
            img{
                width: 20px;
                height: 20px;
            }
            span{
                font-size: 14px;
            }
        }
    }

}


