

.par{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    transform: translateX(100%);
    transition: transform 0.3s linear;
    background-color: #f5f5f9;
    z-index: 999;
    &.show{
        transform: translateX(0);
    }
    .header{
        background: #31c37c;
        height: 40px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        .icon{
            height: 20px;
        }
        .title{
            color: #fff;
        }
        
    }
    .menu{
        flex: 1;
        overflow:auto;
        display: flex;
        flex-direction: column;
        .menu-1{
                flex-direction: column;
            .songmenu-item{
                background-color: #fff;
                height: 60px;
                width: 100%;
                display: flex;
                flex-direction: row;
                align-items: center;
                margin-top: 3px;
                border-bottom: 1px solid #ccc;
                .left{
                    margin-left:20px; 
                }
                .center{
                    display: flex;
                align-items: center;
                justify-content: center;               
                    height: 50px;
                    width: 50px;            
                    background: #e6e6e6;
                    margin-left: 20px;
    
                    .icon{
                        height: 30px;
                        width: 30px;
    
                    }
                }
                .right {
                    // width: 250px;
                    position: relative;
                    // flex: 1;
                    padding-left: 20px;
                    // width: 100%;
                    .name,
                    .num {
                        min-width: 200px;
                        font-size: 15px;
                        line-height: 30px;
                        text-align: left;
                        padding-left: 15px;
                    }
                    .icon-right {
                        position: absolute;
                        top: 22px;
                        right: 15px;
                        background: url("../../../assets/images/icon-easy-right.png");
                        background-size: cover;
                        height: 17px;
                        width: 17px;
                    }
                }
            }
        }
    }
    .footer{
        flex: 0 0 75px;
        background: #fff;
        text-align: center;
        line-height: 25px;
        box-sizing: border-box;
        padding-top: 10px;
        &.show{
            color: red;
        }
        .delete-wrapper{
            display: flex;
            align-items: center;
            justify-content: center;
            .delete{
                width: 25px;
          

            }
        }
        .text-wrapper{
                               
            text-align: center;
            .text{
                font-size: 14px;
          

            }
        }
    }
}