.am-grid{
    // pos
    z-index: 0 !important;
}

.body{
    background-color: #fff;
    .body-top-img{
        display: flex;
        align-items: center;
        .icon-par{
            display: flex;
            border:1px solid #ccc;
            border-radius:20px;
            align-items: center;
            margin-left: 8%;

            .icon{
                width: 40px;
                height: 40px;
                vertical-align: -5px;
                
            }
            span{
                display: block;
                // margin-top:20px;
                font-size: 16px;
                margin-right: 5px;
            }
        }
        .body-top{
            width: 80px;
            height: 80px;
            border: 1px solid #ccc;
            border-radius: 50%;
            margin-left: 8%;
            margin-top: 2%;
        }  
    }
    .username{
        color: red;
        font-size: 20px;
        text-align: center;margin-top: 5px;
    }
    .all-par{
        display: flex;
        flex-direction: column;
        align-items: center;
        .icon{
            width: 40px;
            height: 40px;
            margin-bottom: 5px;
        }
        p{
            font-size: 16px;
        }
    }
    .style{
        // margin-top: 3px;
        border-top: 3px solid #ccc;
        .one{
            border: 1px solid #ccc;
        display: flex;
        flex-direction: row;
            .icon{
                width: 55px;
                height: 55px;
            }
            .menu{
                h4{
                    font-size: 16px;
                    font-weight: 400;
                    margin-top: 8px;
                }
                p{
                    padding-top: 5px;
                    font-size: 13px;
                    color: #cacaca;
                    font-weight: 300;
                }
                span{

                }
            }
        }
    }
}